<!DOCTYPE html>
<html>
<head>
  <title>Unidom Category</title>
  <%= stylesheet_link_tag    "category/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'category/application' %>

</body>
</html>
