<!DOCTYPE html>
<html>
<head>
  <title>Category</title>
  <%= stylesheet_link_tag    "category/application", media: "all" %>
  <%= javascript_include_tag "category/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
